.Superhero{
    z-index: 500;
    border: 1px solid goldenrod;
    border-radius: 10px;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
    /* margin: 300px; */
    text-align: center;
    background-color: black;
    color: aliceblue;
    line-height: 1.7;
    background: rgb(2,0,36);
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgb(31, 1, 30) 39%, rgb(63, 1, 77) 100%);
}

.Superhero > h1{
    text-align: center;
    font-size: 1.5rem;
    font-weight: bold;
    text-decoration: underline;
}

.Superhero > h2{
    text-align: left;
    margin-left: 50px;
    text-decoration: underline;
}

.Superhero > img{
    width: 20rem;
    height: auto;
    border-radius: 5px;
}

.quality{
    text-align: left;
    padding: 10px;
    color: yellow;
    margin: 0 50px;
    overflow-wrap: break-word;

}

.Span{
    color: red;
    font-weight: bold;
    letter-spacing: 2;
}


.stats-holder{
    /* max-width: 90%; */
    /* background-color: red; */
}

.Powerstats{
    background: rgb(34,193,195);
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    /* height: 10px; */
    font-size: 10px;
    padding-left: 1rem;
    font-weight: bolder;
    color: black;
    animation: load 1s 0s;
    -webkit-animation: load 1s 0s;
    -moz-animation: load 1s 0s;
    -o-animation: load 1s 0s;

}

.p-1{
    background-color: #F4D03F;
    background-image: linear-gradient(132deg, #F4D03F 0%, #16A085 100%);
    }

.p-2{
    background-color: #FBAB7E;
    background-image: linear-gradient(62deg, #FBAB7E 0%, rgb(255, 183, 0) 100%);
    }

.p-3{
    background-color: #3EECAC;
    background-image: linear-gradient(19deg, #3EECAC 0%, #EE74E1 100%);

    }

.p-4{
    background-color: #FBAB7E;
    background-image: linear-gradient(62deg, #FBAB7E 0%, rgb(247, 104, 104) 100%);
    }

.p-5{
    background-color: rgb(255, 153, 0);
    background-image: linear-gradient(62deg, #FBAB7E 0%, rgb(0, 255, 21) 100%);
    }

.p-6{
    background-color: #FBAB7E;
    background-image: linear-gradient(62deg, #FBAB7E 0%, rgb(111, 0, 255) 100%);
    }




    @keyframes load{
        from {
          width: 0%
        }
      }
      @-webkit-keyframes load{
        from {
          width: 0%
        }
      }
      @-moz-keyframes load{
        from {
          width: 0%
        }
      }
      @-o-keyframes load{
        from {
          width: 0%
        }
      }
      

@media (max-width: 1200px){
    .Superhero{
        margin: 100px;
    }

    .quality{
        padding: 5px;
    }
}


@media (max-width: 600px){
    .Superhero{
        margin: 20px;
    }

    .quality{
        padding: 5px;
    }
}